* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    width: 150px;
    height: 150px;
    background: red;
}

button {
    width: 50px;
    height: 30px;
    background: darkcyan;
    border: none;
    border-radius: 5px;
}

.heart {
    width: 100px;
    height: 100px;
}

.black {
    width: 70px;
    height: 30px;
    background: black;
    color: lawngreen;
}

.blue {
    background: deepskyblue;
}
.pink {
    background: deeppink;
}


